{% liquid
  # --------- For CSS ----------#
  # main section selector
  assign sec_sel = '#shopify-section-' | append: section.id
  assign mobile_point = '768px'
%}

{%- style -%}
  .ecom-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #F5F5F5;
  }
  .ecom-text {
    margin: 0;
    font-family: "Jost";
    font-weight: normal;
    font-size: 16px;
  }

  @media(min-width: {{ mobile_point }}) {
    .ecom-hide--desk {
      display: none;
    }
  }
  @media(max-width: {{ mobile_point }}) {
    .ecom-hide--mobile {
      display: none;
    }
  }
{%- endstyle -%}

<div class="ecom-section">
  <div class="ecom-container">
    {% for block in section.blocks %}
      {% assign blk_set = block.settings %}

      {% case block.type %}
        {% when 'top_row' %}
          <div class="ecom-top-row" {{ block.shopify_attributes }}>
            <div class="ecom-menu-container ecom-hide--desk">
              <button class="ecom-menu-toggler">
                <span class="svg-wrapper">
                  {{ 'icon-menu-new.svg' | inline_asset_content }}
                </span>
              </button>
              <div class="ecom-menu-drawer">
                <div class="ecom-menu-items">
                  {%- if blk_set.text != blank -%}
                    <p class="ecom-text">{{ blk_set.text }}</p>
                  {%- endif -%}
                  {%- if blk_set.btn_label != blank -%}
                    {%- if blk_set.btn_url != blank -%}
                      <a href="{{ blk_set.btn_url }}" class="ecom-btn">
                        <span>{{ blk_set.btn_label }}</span>
                        <span class="svg-wrapper">
                          {{- 'icon-long-arrow-right.svg' | inline_asset_content -}}
                        </span>
                      </a>
                    {%- else -%}
                      <button type="button" class="ecom-btn">
                        <span>{{ blk_set.btn_label }}</span>
                        <span class="svg-wrapper">
                          {{- 'icon-long-arrow-right.svg' | inline_asset_content -}}
                        </span>
                      </button>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
            {%- if blk_set.img != blank -%}
              <div class="logo-box">
                <div class="img-wrapper" style="width:{{ blk_set.img_width }}px">
                  {{ blk_set.img | image_url: width: blk_set.img_width | image_tag: alt: blk_set.img.alt }}
                </div>
              </div>
            {%- endif -%}
            {%- if blk_set.text != blank -%}
              <p class="ecom-text ecom-hide--mobile">{{ blk_set.text }}</p>
            {%- endif -%}
            {%- if blk_set.btn_label != blank -%}
              {%- if blk_set.btn_url != blank -%}
                <a href="{{ blk_set.btn_url }}" class="ecom-btn ecom-hide--mobile">
                  <span>{{ blk_set.btn_label }}</span>
                  <span class="svg-wrapper">
                    {{- 'icon-long-arrow-right.svg' | inline_asset_content -}}
                  </span>
                </a>
              {%- else -%}
                <button type="button" class="ecom-btn ecom-hide--mobile">
                  <span>{{ blk_set.btn_label }}</span>
                  <span class="svg-wrapper">
                    {{- 'icon-long-arrow-right.svg' | inline_asset_content -}}
                  </span>
                </button>
              {%- endif -%}
            {%- endif -%}
            <div class="ecom-hide--desk"></div>
          </div>

        {% else %}

      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Ecom Banner Section",
  "settings": [],
  "blocks": [
    {
      "type": "top_row",
      "name": "Top Row",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "logo"
        },
        {
          "type": "number",
          "id": "img_width",
          "label": "width",
          "default": 151,
          "info": "used with unit px. e.g. 151px"
        },
        {
          "type": "header",
          "content": "Text Settings"
        },
        {
          "type": "text",
          "id": "text",
          "label": "message",
          "default": "Find the ideal gift for your loved ones."
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "button label",
          "default": "choose gift"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "url",
          "info": "button work as a link if added."
        }
      ]
    }
  ],
  "presets": [{ "name": "Ecom Banner Section" }]
}
{% endschema %}
